<div class="w-full min-h-20 bg-gray-300 flex p-2" id="<%= dom_id(notice) %>">
  <% if defined?(user) && user == notice.target %>
    <p class="text-lg text-gray-800 mr-auto"> You have been noticed by <%= notice.user.username %></p>
    <%= link_to '<i class="fa fa-comment"></i>'.html_safe, new_chat_path(target_id: notice.user.id), class: 'bg-green-500 px-2 py-1 mr-6' %>
    <%= link_to "X", notice_path(notice), class: 'btn-danger', data: { turbo_method: "DELETE" } %>
  <% else %>
    <p class="text-lg text-gray-800 mr-auto"> <%= notice.target.username %> has been noticed by <%= notice.user.username%></p>
  <% end %>
</div>
