<div class="min-h-screen w-full bg-gray-300 flex flex-col pt-20">
  <div class="h-40 w-full flex flex-col items-center bg-gray-300">
    <%= turbo_frame_tag :user_search do %>
      <%= form_with url: '/users/search', html: { class: 'flex mx-auto' } do |form| %>
        <%= form.text_field :q %>
        <%= form.submit 'search', class: 'btn-primary' %>
      <% end %>
    <% end %>
    <div id="search-results"></div>
  </div>
  <h2 class="mt-10 text-lg text-gray-700">All Notices</h2>
  <%= turbo_stream_from :notices %>
  <%= turbo_frame_tag :notices do %>
    <%= render partial: 'notice', collection: @notices, locals: { user: current_user } %>
  <% end %>
  <h2 class="mt-10 text-lg text-gray-600">Noticed me</h2>
  <%= turbo_stream_from dom_id(current_user, :notices) %>
  <%= turbo_frame_tag dom_id(current_user, :notices) do %>
    <%= render partial: 'notice', collection: @my_notices, locals: { user: current_user } %>
  <% end %>
</div>

<div class="h-full w-full">
  <%= turbo_frame_tag :new_user, src: :new_user do %>
  <% end %>
</div>
